.message-main {
    font-size: 20px;
    color: #646C7F;
}

.message-second {
    font-size: 16px;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.box-list {
    border-radius: 5px;
    border: 2px dashed #0087F7;
}

.padding-box {
    padding: 10px;
}

.item-list {
    width: 100%;
    font-size: 18px;
    background-color: rgba(0,135,247, 0.2);
    line-height: 50px;
    cursor: pointer; 
    cursor: hand;
}

.listA {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0,135,247, 0.2); 
    padding: 10px;
}

.listB {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0,135,247, 0.2); 
    padding: 10px;
}